.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 25vhvh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bordered {
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  border: 2px solid darkblue;
  border-radius: 8px;
}

form  { display: table;      }
/* p     { display: table-row;  } */
label { display: table-cell; }
input { display: table-cell; }
